* {
  box-sizing: border-box;
  font-family: monospace;
}

body, html {
  background: black;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#mainColumn {
  position: absolute;
  width: 280px;
  height: 280px;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
}

#mainForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
  justify-content: center;
  border: hidden;
  box-shadow: 0 0 50px white;
  border-radius: 15px;
  background: rgb(10, 10, 70);
}

#mainForm label {
  color: white;
  font-size: 1.4em;
}

#submit {
  width: 40%;
  margin-left: 60%;
  padding-top: 0;
  padding-bottom: 6px;
  border-radius: 10px;
  background: white;
  border: hidden;
  font-size: 2.3em;
  font-weight: 700;
  font-variant: all-small-caps;
}

.popup {
  padding-left: 15%;
  position: absolute;
  width: 100vw;
  display: block;
  height: 60px;
  z-index: 5;
  top: -60px;
  font-weight: 700;
  font-size: 1.8em;
  font-variant: small-caps;
}

.popup p {
  height: 30px;
  margin: 0;
  margin-top: 15px;
}

.popup.popup--error {
  background: rgb(226, 152, 152);
}

.popup.popup--success {
  background: rgb(161, 226, 152);
}

.popup.popup.popup--visible {
  top: 0;
}